.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    border: 10px solid;
    border-color: black;
    box-sizing: border-box;
    width: 500px;
    margin: 10px auto;
} 

.list {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(33, 194, 105);
    border: 10px solid;
    border-color: black;
}

.lasagna,
.pizzadeg,
.nappizza {
    padding: 10px;
    font-size: 26px;
}

.back {
    box-sizing: border-box;
    width: 500px;
    background-color: rgb(26, 155, 194);
    border: 10px solid;
    border-color: black;
    text-align: center;
    padding: 20px;
}